---
import { Tabs } from "astro-tabs";
import Container from "./Container.astro";

const CHIEF_PATRON = [
  {
    name: "Shri. P. K Taneja",
    position: "Rtd. IAS",
  },
];

const ADVISORY_COMMITTEE = [];

const TPC_COMMITTEE = [];

const CONFERENCE_CHAIR = [
  {
    name: "Dr. G. R Sinha ",
    position: "Provost",
  },
];

const CONVENOR = [
  {
    name: "Dr. Sanjukta Bose Goswami",
    position: "Associate Dean, Chemical Engineering",
  },
];

const CO_CONVENOR = [
  {
    name: "Dr. Priya Goel",
    position: "Assistant Professor, Chemistry",
  },
  {
    name: "Dr. Jahanvi Bansal",
    position: "Assistant Professor",
  },
  {
    name: "Ms. Swati Saxena",
    position: "Assistant Professor, Computer Science & Engineering",
  },
];

const ORGANIZING_COMMITTEE = [];
---

<section id="committee">
  <Container>
    <h1
      class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl text-center mb-12"
      id="commitee"
    >
      Committee
    </h1>

    <Tabs class="w-full">
      <Fragment slot="tab-1">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all rounded-l-lg"
        >
          Chief Patron
        </h2>
      </Fragment>
      <Fragment slot="tab-2">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Advisory Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-3">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          TPC Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-4">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Conference Chair
        </h2>
      </Fragment>
      <Fragment slot="tab-5">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Convenor
        </h2>
      </Fragment>
      <Fragment slot="tab-6">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Co-convenor
        </h2>
      </Fragment>
      <Fragment slot="tab-7">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Organizing Committee
        </h2>
      </Fragment>

      <Fragment slot="panel-1">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">
          Chief Patron
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CHIEF_PATRON.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">
          Advisory Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ADVISORY_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">
          TPC Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            TPC_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-4">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">
          Conference Chair
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONFERENCE_CHAIR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-5">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">Convenor</h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-6">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">Co-convenor</h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CO_CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-7">
        <h3 class="text-2xl font-semibold p-4 mt-4 text-center">
          Organizing Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ORGANIZING_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
    </Tabs>
  </Container>
</section>
