---
import { Tabs } from "astro-tabs";
import Container from "./Container.astro";

const CHIEF_PATRON = [
  {
    name: "Shri. P. K Taneja",
    position: "Rtd. IAS",
  },
];

const ADVISORY_COMMITTEE = [
  {
    name: "Prof. (DR.) MANOJ CHOUDHARY",
    position: "Vice Chancellor, Gati Shakti Vishwavidyalaya (GSV), Vadodara",
  },
  {
    name: "Prof. Karuna Jain",
    position: "Professor, I.I.T Bombay",
  },
  {
    name: "Prof Ts Dr Humaira Nisar",
    position: "Professor, Universiti Tunku Abdul Rahman, Malaysia",
  },
  {
    name: "Prof. Meenakshi D'Souza",
    position: "Professor, IIIT Bangalore",
  },
  {
    name: "Dr. Bhavesh N Gohil",
    position: "Associate Professor, SVNIT, Surat",
  },
  {
    name: "Mr. Ramesh B. Panchal",
    position: "Director (Administration), GSFC University, Vadodara",
  },
  {
    name: "Mr. Mahesh Barot",
    position: "Dy. Director - Administration, GSFC University, Vadodara",
  },
  {
    name: "Mr. Bimal B Bhayani",
    position: "Professor of Practice cum Advisor, GSFC University, Vadodara",
  },
  {
    name: "Mr. Naren Acharya",
    position: "Assistant Director, GSFC University, Vadodara",
  },
  {
    name: "Dr. Saurabh Shah",
    position: "Dean - School of technology, GSFC University, Vadodara",
  },
  {
    name: "Dr. Nishith Parikh",
    position: "Associate Dean - Academic Affairs, GSFC University, Vadodara",
  },
  {
    name: "Dr. K. Santhosh Kumar",
    position:
      "Dean of Student Activities and Alumni Interaction Cell, GSFC University, Vadodara",
  },
  {
    name: "Dr. Devjani Banerjee",
    position:
      "Associate Dean-Dept. of Life Sciences, GSFC University, Vadodara",
  },
  {
    name: "Dr. Chetna Parmar",
    position: "Associate Dean - BBA, GSFC University, Vadodara",
  },
  {
    name: "Dr. Abha Kalaiya",
    position: "Associate Dean - MBA, GSFC University, Vadodara",
  },
  {
    name: "Mr. A. Srikrishnan",
    position: "Associate Dean(Fire & EHS), GSFC University, Vadodara",
  },
  {
    name: "Ms. Neha Pujara",
    position: "Associate Dean of (DOST-AI) Cell, GSFC University, Vadodara",
  },
];

const TECHINCAL_PROGRAM_COMMITTEE = [
  {
    name: "Prof. Amitabh Mishra",
    position: "Associate Professor, University of West Florida, United States",
  },
  {
    name: "Prof. Maulika Patel",
    position: "Professor, Head, GCET, VV Vidhyanagar",
  },
  {
    name: "Prof. K. S. Kasiviswanathan",
    position: "Associate Professor, Indian Institute of Technology Roorkee",
  },
  {
    name: "Prof. Nilesh Bahadure",
    position: "Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Saroj Shekhawat",
    position: "Associate Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Akhilesh Prajapati",
    position: "Associate Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Chandra Has",
    position: "Associate Professor, GSFC University, Vadodara",
  },
];

const CONFERENCE_CHAIR = [
  {
    name: "Dr. G. R Sinha ",
    position: "Provost",
  },
];

const CONVENOR = [
  {
    name: "Dr. Sanjukta Bose Goswami",
    position: "Associate Dean, Chemical Engineering",
  },
];

const CO_CONVENOR = [
  {
    name: "Dr. Priya Goel",
    position: "Assistant Professor, Chemistry",
  },
  {
    name: "Dr. Jahanvi Bansal",
    position: "Assistant Professor",
  },
  {
    name: "Ms. Swati Saxena",
    position: "Assistant Professor, Computer Science & Engineering",
  },
];

const ORGANIZING_COMMITTEE = [
  {
    name: "Mr. J.G Simon",
    position: "Sr. Manager (System & IT), GSFC University, Vadodara",
  },
  {
    name: "Dr. Parag Saxena",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Naznin Pathan",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Sindhura G",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Shilpa Parmar",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Dr. Jignesh Valand",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Ms. Mousam Patel",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Ms. Archana Magre",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Ms. Zalak Kansagara",
    position: "Assistant Professor, GSFC University, Vadodara",
  },
  {
    name: "Ms. Dharti Patel",
    position: "Manager Facility, GSFC University, Vadodara",
  },
  {
    name: "Ms. Sachiyanka Shrivastava",
    position: "Dy. Manager - Marketing and PR, GSFC University, Vadodara",
  },
];
---

<section id="committee">
  <Container>
    <h1
      class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl text-center mb-12"
      id="commitee"
    >
      Committee
    </h1>

    <Tabs class="w-full">
      <Fragment slot="tab-1">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all rounded-l-lg"
        >
          Chief Patron
        </h2>
      </Fragment>
      <Fragment slot="tab-2">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Advisory Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-3">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Technical Program Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-4">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Conference Chair
        </h2>
      </Fragment>
      <Fragment slot="tab-5">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Convenor
        </h2>
      </Fragment>
      <Fragment slot="tab-7">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Organizing Committee
        </h2>
      </Fragment>

      <Fragment slot="panel-1">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Chief Patron
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CHIEF_PATRON.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Advisory Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ADVISORY_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Technical Program Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            TECHINCAL_PROGRAM_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-4">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Conference Chair
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONFERENCE_CHAIR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-5">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Convenor
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Co-convenor
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CO_CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-7">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Organizing Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ORGANIZING_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
    </Tabs>
  </Container>
</section>
