---
import { Tabs } from "astro-tabs";
import Container from "./Container.astro";

const CHIEF_PATRON = [
  {
    name: "Shri. P. K Taneja",
    position: "Rtd. IAS",
  },
];

const ADVISORY_COMMITTEE = [
  {
    name: "Prof. Manoj Choudhary",
    position: "Vice Chancellor, Gati Shakti Vishwavidyalaya (GSV)",
  },
  {
    name: "Prof. Karuna Jain",
    position: "Professor, I.I.T. Bombay",
  },
  {
    name: "Prof. Humaira Nisar",
    position: "Professor, University Tunku Abdul Rahman",
  },
  {
    name: "Meenakshi D'Souza",
    position: "Professor, IIIT Bangalore",
  },
  {
    name: "Dr. Bhavesh N Gohil",
    position: "Associate Professor,	SVNIT - Surat",
  },
  {
    name: "Shri Ramesh Panchal",
    position: "Registrar, GSFC University",
  },
  {
    name: "Mr. Naren Acharaya",
    position: "Director (Administration), GSFC University",
  },
  {
    name: "Shri Mahesh Barot",
    position: "Assistant Director (Admin) & Director-Campus, GSFC University",
  },
];

const TECHINCAL_PROGRAM_COMMITTEE = [
  {
    name: "Prof. Maulika Patel",
    position: "Professor, GCET, VV Vidhyanagar",
  },
  {
    name: "Amitabh Mishra",
    position: "Associate Professor, University of West Florida",
  },
  {
    name: "K. S. Kasiviswanathan",
    position: "Associate Professor, Indian Institute of Technology Roorkee",
  },
];

const CONFERENCE_CHAIR = [
  {
    name: "Dr. G. R Sinha ",
    position: "Provost",
  },
];

const CONVENOR = [
  {
    name: "Dr. Sanjukta Bose Goswami",
    position: "Associate Dean, Chemical Engineering",
  },
];

const CO_CONVENOR = [
  {
    name: "Dr. Priya Goel",
    position: "Assistant Professor, Chemistry",
  },
  {
    name: "Dr. Jahanvi Bansal",
    position: "Assistant Professor",
  },
  {
    name: "Ms. Swati Saxena",
    position: "Assistant Professor, Computer Science & Engineering",
  },
];

const ORGANIZING_COMMITTEE = [
  {
    name: "Shri Simon",
    position: "",
  },
  {
    name: "Ms. Mousam Patel",
    position: "Assistant Professor - CSE, GSFC University",
  },
  {
    name: "Ms. Archana Magre",
    position: "Assistant Professor - CSE, GSFC University",
  },
  {
    name: "Ms. Zalak Kansagara",
    position: "Assistant Professor - CSE, GSFC University",
  },
  {
    name: "Ms. Dharti Patel",
    position: "Deputy Manager - Department of Facility, GSFC University",
  },
  {
    name: "Ms. Sachiyanka Srivastava",
    position: "Marketing & PR, GSFC University",
  },
];
---

<section id="committee">
  <Container>
    <h1
      class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl text-center mb-12"
      id="commitee"
    >
      Committee
    </h1>

    <Tabs class="w-full">
      <Fragment slot="tab-1">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all rounded-l-lg"
        >
          Chief Patron
        </h2>
      </Fragment>
      <Fragment slot="tab-2">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Advisory Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-3">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Technical Program Committee
        </h2>
      </Fragment>
      <Fragment slot="tab-4">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Conference Chair
        </h2>
      </Fragment>
      <Fragment slot="tab-5">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Convenor
        </h2>
      </Fragment>
      <Fragment slot="tab-6">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Co-convenor
        </h2>
      </Fragment>
      <Fragment slot="tab-7">
        <h2
          class="text-xl font-semibold px-4 py-2 border hover:bg-slate-100 transition-all"
        >
          Organizing Committee
        </h2>
      </Fragment>

      <Fragment slot="panel-1">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Chief Patron
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CHIEF_PATRON.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Advisory Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ADVISORY_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Technical Program Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            TECHINCAL_PROGRAM_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-4">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Conference Chair
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONFERENCE_CHAIR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-5">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Convenor
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-6">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Co-convenor
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            CO_CONVENOR.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
      <Fragment slot="panel-7">
        <h3 class="text-2xl font-bold p-4 mt-4 text-center text-primary">
          Organizing Committee
        </h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {
            ORGANIZING_COMMITTEE.map(({ name, position }) => (
              <li class="py-4 sm:py-5">
                <div class="flex flex-col items-center">
                  <p class="text-xl font-medium text-gray-900 dark:text-white">
                    {name}
                  </p>
                  <p class="text-xl text-gray-500 dark:text-gray-400">
                    {position}
                  </p>
                </div>
              </li>
            ))
          }
        </ul>
      </Fragment>
    </Tabs>
  </Container>
</section>
